body {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.steam {
    position: relative;
    transform: rotate(-30deg) skew(25deg) ;
    transition: 0,5s;
}
.steam:hover svg:nth-child(4) {
    transform: translate(100px, -100px);
}
.steam svg {
    position: absolute;
    transition: 0,5;
}
