body .row{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.steam {
    position: relative;
    transform: rotate(-30deg) skew(25deg) ;
    transition: 1s;
}
.steam a {
    position: absolute;
    transition: 1s;
    background: black;
    fill: white;
    border-radius: 10%;
}
.steam:hover a:nth-child(4) {
    transform: translate(60px, -60px);
}
.steam:hover a:nth-child(3) {
    transform: translate(40px, -40px);
    opacity: 0,8;
}
.steam:hover a:nth-child(2) {
    transform: translate(20px, -20px);
    opacity: 0,6;
}



